extends ../layout

block content
    h2 Detalle del Post
    p Título: #{art.titulo}
    p Usuario: #{art.usuario}
    p Fecha: #{art.fecha}
    p Categoría: #{art.categoria}
    p Mensaje: #{art.mensaje}